:root{
    --header_color:#fff;
    --header_bgcolor:#186099;
    --header_brand_bgcolor:#186099;
    --header_brand_color:#fff;
    --nav_link_bgcolor:#186099;
    --nav_link_color:#fff;
    --nav_link_hovercolor:red;
    --fliker_bgcolor:#474747;
    --fliker_color:#fff;
    --info_color:#fff;
    --info_bgcolor:#186099;
    --info_hovercolor:#670A62;
    --suite_color:#000;
    --suite_bgcolor:#fbf3f3;
    --suite_title_color:#000;
    --singlesuite_name_color:#000;
    --singlesuite_desc_color:#000;
    --singlesuite_more_color:#fff;
    --singlesuite_more_bgcolor:#198754;
    --singlesuite_container_bgcolor:#FFE7E7;
    --singlesuite_price:#703027;
    --fliker_hover_color:#198754;
    --singleroom_bgcolor:#FFE7E7;
    --singleroom_name_color:#186099;
    --singleroom_name_ucolor:#DC3545;
    --singleroom_image_bgcolor:#fff;
    --singleroom_facilities_item_color:#000;
    --gallery_bgcolor:#FBF3F3;
    }
